[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
flask = "*"
psutil = "*"
pythonnet = "*"
pyinstaller = "*"
pywin32-ctypes = {version = "*", sys_platform = "== 'win32'"}
pefile = {version = "*", sys_platform = "== 'win32'"}
colorama = "*"
cachelib = "*"
pystray = "*"
pydantic = "*"
keyring = "*"

[dev-packages]
pylint = "*"
black = "*"
invoke = "*"

[requires]
python_version = "3.12"
