[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
flask = "*"
psutil = "*"
pythonnet = "*"
pyinstaller = "*"
colorama = "*"
pywebview = {version = "==5.4", markers = "sys_platform == 'win32'"}
'pywebview[qt]' = {version = "==5.4", markers = "sys_platform == 'linux'"}
pywin32-ctypes = {version = "==0.2.3", markers = "sys_platform == 'win32'"}
pefile = {version = "==2024.8.26", markers = "sys_platform == 'win32'"}
cachelib = "*"
pystray = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.12"
