<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>SSM Manager</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="js/bootstrap.bundle.min.js" defer></script>
    <script src="js/vue.global.prod.js" defer></script>
    <script src="js/app.js" defer></script>
</head>
<body>
  <main id="app" class="d-flex flex-nowrap">

<!-- navbar -->

    <div class="d-flex flex-column flex-shrink-0 bg-body-tertiary" style="width: 4.5rem;">
      <a href="#/start" class="d-block p-3 link-body-emphasis text-decoration-none">
        <img width="40" src="/favicon.ico" alt="SSM Manager" class="d-block mx-auto mb-2">
      </a>
      <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li class="nav-item" v-for="navItem in navBar">
          <a :href="navItem.hash" class="nav-link py-3 border-bottom rounded-0" :class="{ active: currentPage === navItem.name }" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right" :aria-label="navItem.name" :data-bs-original-title="navItem.name" @click="hideTooltip($event)">
            <i :class="navItem.icon"></i>
          </a>
        </li>
      </ul>
      <div class="border-top">
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
          <li class="nav-item">
            <a class="nav-link py-3 border-bottom rounded-0 text-secondary" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Theme" data-bs-original-title="Theme" @click="themeToggle()">
              <i class="fa-solid fa-circle-half-stroke fa-xl"></i>
            </a>
          </li>
          <li class="nav-item">
            <a :href="githubUrl" class="nav-link py-3 border-bottom rounded-0 text-secondary" target="_blank" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="GitHub" data-bs-original-title="GitHub" @mouseup="hideTooltip($event)">
              <i class="fa-brands fa-github fa-xl"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>

<!-- page: home -->

    <div id="home" class="container-fluid page">
      <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold" v-html="title + ' v' + version"></h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">
            SSM Manager is a cross-platform desktop application that provides a web interface for managing AWS Systems Manager sessions.
            It simplifies the process of connecting to EC2 instances through AWS Systems Manager by providing an intuitive interface for Shell sessions, RDP connections, custom port forwarding, and host port forwarding.
          </p>
          <div class="container-xxl px-4 py-5">
            <h2 class="pb-2 border-bottom">Getting Started</h2>
            <div class="row align-items-md-stretch text-start pt-3">
              <div class="col-md-6 pb-5">
                <div class="card h-100">
                  <h5 class="card-header">AWS CLI v2</h5>
                  <div class="card-body">
                    <p class="card-text">
                    The AWS Command Line Interface (AWS CLI) is an open source tool that enables you to interact with AWS services using commands in your command-line shell.
                    </p>
                    <a class="btn btn-primary" type="button" href="https://docs.aws.amazon.com/cli/latest/userguide/getting-started-install.html" target="_blank">Read More</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 pb-5">
                <div class="card h-100">
                  <h5 class="card-header">Session Manager Plugin</h5>
                  <div class="card-body">
                    <p class="card-text">
                      To initiate Session Manager sessions with your managed nodes by using the AWS Command Line Interface (AWS CLI), you must install the Session Manager plugin on your local machine.
                    </p>
                    <a class="btn btn-primary" type="button" href="https://docs.aws.amazon.com/systems-manager/latest/userguide/session-manager-working-with-install-plugin.html" target="_blank">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- page: instances -->

    <div id="instances" class="container-fluid page">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Instances</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <!-- Buttons -->
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <select id="profileSelect" class="form-select" v-model="currentProfile">
                  <option value="">Select Profile</option>
                  <option v-for="profile in profiles" :value="profile.name" v-html="profile.name"></option>
                </select>
              </div>
              <div class="col-auto">
                <select id="regionSelect" class="form-select" v-model="currentRegion">
                  <option value="">Select Region</option>
                  <option v-for="region in regionsSelected" :value="region" v-html="region"></option>
                </select>
              </div>
              <div class="col-auto">
                <button id="connectBtn" class="btn btn-success" @click="connect()">
                  <span v-if="isConnecting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  <span v-if="isConnecting" class="visually-hidden">Connecting...</span>
                  <i v-if="!isConnecting" class="fa-solid fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8" style="max-height:90vh;">
          <!-- Instances card-->
          <div class="card mb-4 shadow-sm">
            <div class="card-header d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center gap-2">
                <i class="fa-solid fa-server"></i>
                <div class="m-0">Instances</div>
              </div>
              <div>
                <span class="badge bg-info" v-if="currentAccountId != ''" v-html="'AWS Account Id: ' + currentAccountId"></span>
                <span class="m-1"></span>
                <span class="badge" :class="instancesCount > 0 ? 'bg-primary' : 'bg-secondary'" v-html="instancesCount + ' instances'"></span>
              </div>
            </div>
            <div class="card-body overflow-y-auto" style="max-height:80vh;height:80vh;">
              <!-- Instances Table -->
              <div class="col-md-12" v-for="instance in instances" :key="instance.name">
                <div class="card instance-card h-100">
                  <div class="card-header d-flex justify-content-between align-items-start">
                    <div class="flex-grow-1">
                        <div class="mt-2">
                            <ul class="list-unstyled">
                              <li><b v-html="instance.name"></b></li>
                              <li><small class="text-muted" v-html="instance.id"></small></li>
                              <li>
                                <span class="badge bg-success status-badge">running</span>
                                <span class="badge bg-warning status-badge">c6i.2xlarge</span>
                                <span class="badge bg-info status-badge">Windows</span>
                                <span class="badge badge-fucsia status-badge ms-1">SSM</span>
                              </li>
                            <ul>
                        </ul></ul></div>
                    </div>
                    <div>
		      <div class="d-flex justify-content-between mt-3 gap-2">
                        <button class="btn btn-sm btn-warning" @click="startShell(instance.id)">
			  <i class="fa-solid fa-terminal fa-sm" title="Shell"></i>
                        </button>
                        <button class="btn btn-sm btn-primary" @click="startRDP(instance.id)">
			  <i class="fa-solid fa-display" title="RDP"></i>
                        </button>
                        <button class="btn btn-sm btn-purple text-white" @click="showCustomPortModal(instance.id)">
			  <i class="fa-solid fa-left-right" title="Port Forwarding"></i>
                        </button>
                        <button class="btn btn-sm btn-ottanio text-white" @click="showInstanceDetails(instance.id)">
			  <i class="fa-solid fa-circle-info" title="Instance Details"></i>
                        </button>
                        <button class="btn btn-sm btn-darkseagreen text-white" @click="showInstancePortMappings(instance.id, instance.name)">
			  <i class="fa-solid fa-sliders" title="Instance Preferences"></i>
                        </button>
		      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
        <div class="col-md-4">
          <!-- Active Connections card-->
          <div class="card mb-4 shadow-sm">
            <div class="card-header d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center gap-2">
                <i class="fa-solid fa-diagram-project"></i>
                <div class="m-0">Active Connections</div>
              </div>
              <span class="badge" :class="activeConnectionsCount > 0 ? 'bg-primary' : 'bg-secondary'" v-html="activeConnectionsCount + ' active'"></span>
            </div>
            <div class="card-body">
              <!-- Active Connections Table -->
            </div>
          </div>
	</div>
      </div>
    </div>

<!-- page: preferences -->

    <div id="preferences" class="container-fluid page">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Preferences</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <!-- Buttons -->
            <button type="button" class="btn btn-outline-success" @click="savePreferences()">
              <i class="fa-solid fa-floppy-disk fa-lg"></i>&nbsp;&nbsp;Save
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <!-- Port Range card-->
          <div class="card mb-4 shadow-sm">
            <div class="card-header d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center gap-2">
                <i class="fa-solid fa-network-wired"></i>
                <div class="m-0">Ports</div>
              </div>
              <span class="badge" :class="prefPortCount > 0 ? 'bg-primary' : 'bg-danger'" v-html="prefPortCount + ' ports in range'"></span>
            </div>
            <div class="card-body">
              <h5 class="mb-1">Dynamic Port Range</h5>
              <p class="small text-muted">This range is used to dynamically and randomly allocate ports for host port forwarding when connecting to instances.</p>
              <p class="small text-muted">Ports are checked for availability before being allocated, and if a port is already in use, the next available random port in the range will be used.</p>
              <form>
                <div class="mb-3">
                  <label class="small mb-1" for="prefPortStart">Starting Port</label>
                  <input class="form-control" id="prefPortStart" type="number" placeholder="60000" min="1024" v-model="prefPortStart">
                </div>
                <div class="mb-3">
                  <label class="small mb-1" for="prefPortEnd">Ending Port</label>
                  <input class="form-control" id="prefPortEnd" type="number" placeholder="65535" max="65535" v-model="prefPortEnd">
                </div>
              </form>
            </div>
          </div>
          <!-- Logging card-->
          <div class="card mb-4 shadow-sm">
            <div class="card-header d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center gap-2">
                <i class="fa-solid fa-file"></i>
                <div class="m-0">Logging</div>
              </div>
            </div>
            <div class="card-body">
              <h5 class="mb-1">Verbosity</h5>
              <p class="small text-muted">This defines the level of detail that will be logged in the application.</p>
              <form>
                <div class="form-check">
                  <input class="form-check-input" id="prefLogLevel1" type="radio" name="prefLogLevel" value="DEBUG" v-model="prefLogLevel">
                  <label class="form-check-label" for="prefLogLevel1">Debug</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" id="prefLogLevel2" type="radio" name="prefLogLevel" value="INFO" v-model="prefLogLevel">
                  <label class="form-check-label" for="prefLogLevel2">Info</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" id="prefLogLevel3" type="radio" name="prefLogLevel" value="WARNING" v-model="prefLogLevel">
                  <label class="form-check-label" for="prefLogLevel3">Warning</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" id="prefLogLevel4" type="radio" name="prefLogLevel" value="ERROR" v-model="prefLogLevel">
                  <label class="form-check-label" for="prefLogLevel4">Error</label>
                </div>
              </form>
            </div>
          </div>
          <!-- Regions card-->
          <div class="card mb-4 shadow-sm">
            <div class="card-header d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center gap-2">
                <i class="fa-solid fa-location-dot"></i>
                <div class="m-0">Regions</div>
              </div>
              <span class="badge" :class="prefRegionsCount > 0 ? 'bg-primary' : 'bg-secondary'" v-html="prefRegionsCount + ' selected regions'"></span>
            </div>
            <div class="card-body">
              <h5 class="mb-1">Visible Regions</h5>
              <p class="small text-muted">Selecting regions will limit the regions that are visible in the application. This is useful if you only work with a specific set of regions and want to reduce clutter.</p>
              <p class="small text-muted">If no regions are selected, all regions will be visible.</p>
              <form>
                <div class="form-check">
                  <select class="form-select" id="prefRegions" name="prefRegions" size="10" multiple v-model="prefRegions">
                    <option v-for="region in regionsAll" :value="region" v-html="region"></option>
                  </select>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <!-- Credentials card-->
          <div class="card mb-4 shadow-sm">
            <div class="card-header d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center gap-2">
                <i class="fa-solid fa-key"></i>
                <div class="m-0">Credentials</div>
              </div>
            </div>
            <div class="card-body">
              <p class="small text-muted">These credentials will be stored in a key ring on your system.</p>
              <p class="small text-muted">
                On Windows, these will be stored as generic credentials in the Windows Credential Manager.
                They can be used to dynamically create Windows Credentials for tools such as SQL Server Management Studio (SSMS) or other applications that support Windows Authentication.
              </p>
              <p class="small text-muted">
                On Linux, there is currently no supported use for these credentials, but they can be used to store credentials for other applications that support key rings.
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>

<!-- page: profiles -->

    <div id="profiles" class="container-fluid page">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Profiles</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <!-- Buttons -->
          </div>
        </div>
      </div>
      <div class="d-flex flex-column">
        <!-- Profiles card-->
        <div class="card shadow-sm">
          <div class="card-header d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center gap-2">
              <i class="fa-solid fa-users"></i>
              <div class="m-0">AWS Profiles</div>
            </div>
            <span class="badge" :class="profilesCount > 0 ? 'bg-primary' : 'bg-secondary'" v-html="profilesCount + ' profiles'"></span>
          </div>
          <div class="card-body overflow-auto m-0 px-0 pb-0 pt-1">
            <div class="text-center text-muted p-4 h-100" v-if="profilesCount == 0">
              <i class="fa-solid fa-users"></i>
              <p class="mt-2">No profiles</p>
            </div>
            <table class="table table-striped table-hover w-100" v-if="profilesCount > 0">
              <thead class="small text-uppercase">
                <tr>
                  <th v-for="column in profilesTableColumns" v-html="column.title"></th>
                </tr>
              </thead>
              <tbody>
                <tr class="align-middle" v-for="profile in profiles">
                  <td v-for="column in profilesTableColumns" :key="column.field">
                    <span v-html="profile[column.field]"></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-3 mb-lg-5">
          <div class="overflow-hidden card table-nowrap table-card shadow-sm">
          </div>
        </div>
      </div>
    </div>

<!-- toast -->

    <div id="toast-container" class="toast-container position-fixed bottom-0 end-0 p-3">
    </div>

<!-- footer -->

    <footer></footer>

  </main>
</body>
</html>
