<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>SSM Manager</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="js/bootstrap.bundle.min.js" defer></script>
    <script src="js/vue.global.prod.js" defer></script>
    <script src="js/app.js" defer></script>
</head>
<body>
  <main id="app" class="d-flex flex-nowrap">

<!-- navbar -->

    <div class="d-flex flex-column flex-shrink-0 bg-body-tertiary" style="width: 4.5rem;">
      <a href="#/start" class="d-block p-3 link-body-emphasis text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="SSM Manager">
        <img width="40" src="/favicon.ico" alt="SSM Manager" class="d-block mx-auto mb-2">
      </a>
      <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li class="nav-item" v-for="navItem in navBar">
          <a :href="navItem.hash" class="nav-link py-3 border-bottom rounded-0" :class="{ active: currentPage === navItem.name }" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right" :aria-label="navItem.name" :data-bs-original-title="navItem.name">
            <i :class="navItem.icon"></i>
          </a>
        </li>
      </ul>
      <div class="border-top">
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
          <li class="nav-item">
            <a href="#" class="nav-link py-3 border-bottom rounded-0 text-secondary" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right" :aria-label="Theme" :data-bs-original-title="Theme" @click="themeToggle()">
              <i class="fa-solid fa-circle-half-stroke fa-xl"></i>
            </a>
          </li>
          <li class="nav-item">
            <a :href="githubUrl" class="nav-link py-3 border-bottom rounded-0 text-secondary" target="_blank" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right" :aria-label="GitHub" :data-bs-original-title="GitHub">
              <i class="fa-brands fa-github fa-xl"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>

<!-- page: home -->

    <div id="home" class="container-fluid page">
      <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold" v-html="title"></h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">
          Your sweet solution for managing transfers to and from your AWS S3 buckets. Imagine it as your personal bakery for data! You can bake up scheduled transfer jobs, setting them to rise at just the right time, and frost them with secure AWS credential profiles. No more messy data spills! Cupcake S3 makes your S3 management a piece of cake... or should we say, a piece of cupcake!
          </p>
          <div class="container-xxl px-4 py-5">
            <h2 class="pb-2 border-bottom">Getting Started</h2>
            <div class="row align-items-md-stretch text-start pt-3">
              <div class="col-md-6 pb-5">
                <div class="card h-100">
                  <h5 class="card-header">Profiles</h5>
                  <div class="card-body gs-profiles">
                    <p class="card-text">Create profiles to store AWS access keys. Profiles are used by your jobs to provide access to AWS S3.</p>
                    <button class="btn btn-primary" type="button" @click="switchPage('Profiles')">Create a Profile</button>
                  </div>
                </div>
              </div>
              <div class="col-md-6 pb-5">
                <div class="card h-100">
                  <h5 class="card-header">Jobs</h5>
                  <div class="card-body gs-jobs">
                    <p class="card-text">Create jobs using standard cron expressions to schedule data transfers to or from AWS S3 Buckets.</p>
                    <button class="btn btn-primary" type="button" @click="switchPage('Jobs')">Create a Job</button>
                  </div>
                </div>
              </div>
            </div>
            <h2 class="pb-2 border-bottom">Setup AWS</h2>
            <div class="row row-cols-1 row-cols-md-3 mb-4 text-center pt-2">
              <div class="col py-2">
                <div class="card mb-1 rounded-3 shadow-sm h-100">
                  <div class="card-header py-3">
                    <h5 class="my-0 fw-normal">Bucket</h5>
                  </div>
                  <div class="card-body text-start">
                    <div class="pb-2">
                      Create an S3 bucket in your AWS account.
                    </div>
                    <div class="py-2" style="border-top:1px solid #d0d0d0;">Recommended Actions:</div>
                    <ul class="list mt-3 mb-4">
                      <li>Enable versioning</li>
                      <li>Block all public access (default)</li>
                      <li>Lifecycle policy to remove older versions</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col py-2">
                <div class="card mb-1 rounded-3 shadow-sm h-100">
                  <div class="card-header py-3">
                    <h5 class="my-0 fw-normal">Role</h5>
                  </div>
                  <div class="card-body text-start">
                    <div class="pb-2">
                      Create a role to allow your user to access your bucket.
                    </div>
                    <div class="py-2" style="border-top:1px solid #d0d0d0;">Recommended Actions:</div>
                    <ul class="list mt-3 mb-4">
                      <li>Limit the role to only the required permissions.</li>
                      <li>Limit the role to only the required bucket(s).</li>
                      <li>Add IP restrictions if possible.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col py-2">
                <div class="card mb-1 rounded-3 shadow-sm h-100">
                  <div class="card-header py-3">
                    <h5 class="my-0 fw-normal">User</h5>
                  </div>
                  <div class="card-body text-start">
                    <div class="pb-2">
                      Create a user, attach the role and generate access keys.
                    </div>
                    <div class="py-2" style="border-top:1px solid #d0d0d0;">Recommended Actions:</div>
                    <ul class="list mt-3 mb-4">
                      <li>Limit the user policy to only be able to assume the role.</li>
                      <li>Rotate the access keys on occasion</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="card w-100 mb-4 bg-secondary">
              <div class="card-body mb-1">
                <h5 class="card-title">Quick Start</h5>
                <p class="card-text">Download a curated CloudFormation template to quickly setup your AWS environment.</p>
                <a href="/download/cupcake.yml" class="btn btn-primary">Download CloudFormation Template</a>
                <p class="text-muted pt-3">For detailed instructions, please refer to the <a target="_blank" :href="githubUrl">GitHub</a> repository.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- page: instances -->

    <div id="instances" class="container-fluid page">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Instances</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <!--
            <button type="button" class="btn btn-sm btn-outline-primary" @click="showProfileModal">
              <i class="fa-regular fa-square-plus"></i>
            </button>
            -->
          </div>
        </div>
      </div>
    </div>

<!-- page: preferences -->

    <div id="preferences" class="container-fluid page">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Preferences</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <!--
            <button type="button" class="btn btn-sm btn-outline-primary" @click="showProfileModal">
              <i class="fa-regular fa-square-plus"></i>
            </button>
            -->
          </div>
        </div>
      </div>
    </div>

<!-- page: profiles -->

    <div id="profiles" class="container-fluid page">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Profiles</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <!--
            <button type="button" class="btn btn-sm btn-outline-primary" @click="showProfileModal">
              <i class="fa-regular fa-square-plus"></i>
            </button>
            -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card shadow-sm">
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table table-hover mb-0">
                  <thead>
                    <tr>
                      <th scope="col" v-for="column in profileColumns" :key="column.key">
                        <span v-html="column.label"></span>
                        <i class="bi bi-funnel-fill ms-1"></i>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="profile in profiles" :key="profile.name">
                      <td v-for="column in profileColumns" :key="column.key">
                        <span v-html="profile[column.key]"></span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- footer -->

    <footer></footer>

  </main>
</body>
</html>
