<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>SSM Manager</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="js/bootstrap.bundle.min.js" defer></script>
    <script src="js/vue.global.prod.js" defer></script>
    <script src="js/app.js" defer></script>
</head>
<body>
  <main id="app" class="d-flex flex-nowrap">

<!-- navbar -->

    <div class="d-flex flex-column flex-shrink-0 bg-body-tertiary" style="width: 4.5rem;">
      <a href="#/start" class="d-block p-3 link-body-emphasis text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="SSM Manager">
        <img width="40" src="/favicon.ico" alt="SSM Manager" class="d-block mx-auto mb-2">
      </a>
      <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li class="nav-item" v-for="navItem in navBar">
          <a :href="navItem.hash" class="nav-link py-3 border-bottom rounded-0" :class="{ active: currentPage === navItem.name }" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right" :aria-label="navItem.name" :data-bs-original-title="navItem.name">
            <i :class="navItem.icon"></i>
          </a>
        </li>
      </ul>
      <div class="border-top">
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
          <li class="nav-item">
            <a href="#" class="nav-link py-3 border-bottom rounded-0 text-secondary" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right" :aria-label="Theme" :data-bs-original-title="Theme" @click="themeToggle()">
              <i class="fa-solid fa-circle-half-stroke fa-xl"></i>
            </a>
          </li>
          <li class="nav-item">
            <a :href="githubUrl" class="nav-link py-3 border-bottom rounded-0 text-secondary" target="_blank" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right" :aria-label="GitHub" :data-bs-original-title="GitHub">
              <i class="fa-brands fa-github fa-xl"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>

<!-- page: home -->

    <div id="home" class="container-fluid page">
      <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold" v-html="title + ' v' + version"></h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">
            SSM Manager is a cross-platform desktop application that provides a web interface for managing AWS Systems Manager sessions.
            It simplifies the process of connecting to EC2 instances through AWS Systems Manager by providing an intuitive interface for Shell sessions, RDP connections, custom port forwarding, and host port forwarding.
          </p>
          <div class="container-xxl px-4 py-5">
            <h2 class="pb-2 border-bottom">Getting Started</h2>
            <div class="row align-items-md-stretch text-start pt-3">
              <div class="col-md-6 pb-5">
                <div class="card h-100">
                  <h5 class="card-header">AWS CLI v2</h5>
                  <div class="card-body">
                    <p class="card-text">
                    The AWS Command Line Interface (AWS CLI) is an open source tool that enables you to interact with AWS services using commands in your command-line shell.
                    </p>
                    <a class="btn btn-primary" type="button" href="https://docs.aws.amazon.com/cli/latest/userguide/getting-started-install.html" target="_blank">Read More</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 pb-5">
                <div class="card h-100">
                  <h5 class="card-header">Session Manager Plugin for AWS CLI</h5>
                  <div class="card-body">
                    <p class="card-text">
                      To initiate Session Manager sessions with your managed nodes by using the AWS Command Line Interface (AWS CLI), you must install the Session Manager plugin on your local machine.
                    </p>
                    <a class="btn btn-primary" type="button" href="https://docs.aws.amazon.com/systems-manager/latest/userguide/session-manager-working-with-install-plugin.html" target="_blank">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- page: instances -->

    <div id="instances" class="container-fluid page">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Instances</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <!--
            <button type="button" class="btn btn-sm btn-outline-primary" @click="showProfileModal">
              <i class="fa-regular fa-square-plus"></i>
            </button>
            -->
          </div>
        </div>
      </div>
    </div>

<!-- page: preferences -->

    <div id="preferences" class="container-fluid page">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Preferences</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <!--
            <button type="button" class="btn btn-sm btn-outline-primary" @click="showProfileModal">
              <i class="fa-regular fa-square-plus"></i>
            </button>
            -->
          </div>
        </div>
      </div>
    </div>

<!-- page: profiles -->

    <div id="profiles" class="container-fluid page">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Profiles</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <!--
            <button type="button" class="btn btn-sm btn-outline-primary" @click="showProfileModal">
              <i class="fa-regular fa-square-plus"></i>
            </button>
            -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card shadow-sm">
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table table-hover mb-0">
                  <thead>
                    <tr>
                      <th scope="col" v-for="column in profileColumns" :key="column.key">
                        <span v-html="column.label"></span>
                        <i class="bi bi-funnel-fill ms-1"></i>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="profile in profiles" :key="profile.name">
                      <td v-for="column in profileColumns" :key="column.key">
                        <span v-html="profile[column.key]"></span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- footer -->

    <footer></footer>

  </main>
</body>
</html>
