html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: block;
}

main {
  height: 100vh;
  min-height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  /*overflow-y: hidden;*/
}

.page {
  margin-top: 20px;
}

#home {
  display: none;
}
#instances {
  display: none;
}
#preferences {
  display: none;
}
#profiles {
  display: none;
}

.nav-link {
  cursor: pointer;
}

.h2 {
  border-left: 7px solid var(--bs-primary);
  padding-left: 15px;
}

.instance-card {
  border: 1px solid #000;
}

.active-connection-card {
  border: 1px solid #000;
}
